<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAW4z-PJ1QoMJU-yqHq2Ysw1jMnvRXIDAU</string>
	<key>GCM_SENDER_ID</key>
	<string>340399637778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.jesenberger.pascal.Eventorias</string>
	<key>PROJECT_ID</key>
	<string>eventorias-3148e</string>
	<key>STORAGE_BUCKET</key>
	<string>eventorias-3148e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340399637778:ios:df6e6e316a78c355f35fcb</string>
</dict>
</plist>